BOT-TOKEN=

DB-HOST=
DB-USER=
DB-PASS=
DB-PORT=3306
DB-NAME=

OBS-ROLE=
S1-ROLE=
S2-ROLE=
S3-ROLE=
C1-ROLE=
C3-ROLE=
I1-ROLE=
I3-ROLE=

HOME-ROLE=
VISITOR-ROLE=
VERIFIED-ROLE=
GUEST-ROLE=
MENTOR-ROLE=
INSTRUCTOR-ROLE=
TOP-ROLE=

GUILD-ID=
DEV-CHANNEL=
BOOKING-NOTIFICATION-CHANNEL=
SUPERVISION-REQUEST-CHANNEL=
UTC-CLOCK-CHANNEL=1369519082973691904
VANCOUVER-CLOCK-CHANNEL=1369519620419227698
HOME-CONTROLLERS-CHANNEL=1369518429274505227

WX-API=
BOOKING-API-KEY=
BOOKING-API-URL=https://atc-bookings.vatsim.net/api/booking
